aiohttp
aiosignal
async-timeout
attrs
blinker==1.4
Bottleneck
brotlipy==0.7.0
cachetools
certifi==2021.10.8
cffi
charset-normalizer
click==8.0.3
cryptography
frozenlist
google-auth
google-auth-oauthlib
gspread
idna
multidict
numexpr
numpy
oauthlib
packaging
pandas==1.3.5
pyasn1
pyasn1-modules==0.2.8
pycparser
PyJWT
pyOpenSSL
pyparsing
PySocks
python-dateutil
python-dotenv
pytz==2021.3
requests
requests-oauthlib==1.3.0
rsa
six
typing-extensions
urllib3
yarl
