# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
aiohttp
aiosignal
async-timeout
attrs
blas
blinker
bottleneck
brotlipy
ca-certificates
cachetools
certifi
cffi
charset-normalizer
click
cryptography
frozenlist
google-auth
google-auth-oauthlib
gspread
idna
libcxx
libffi
libgfortran
libopenblas
multidict
ncurses
nomkl
numexpr
numpy
numpy-base
oauthlib
openssl
packaging
pandas
pip
pyasn1
pyasn1-modules
pycparser
pyjwt
pyopenssl
pyparsing
pysocks
python-dateutil
python-dotenv
pytz
readline
requests
requests-oauthlib
setuptools
rsa
six
sqlite
tk
typing-extensions
typing_extensions
tzdata
urllib3
wheel
xz
yarl
zlib
